{% extends 'base.html' %}

{% block title %}
Thermos -- Welcome!
{% endblock %}

{% block content %}
    <article>
    <header>
        <h1>Welcome!</h1>
        <p>Thermos is a simple bookmarking site.</p>
        <p>Done thanks <a href="https://app.pluralsight.com/library/courses/flask-micro-framework-introduction/table-of-contents">pluralsight</a></p>
    </header>
    <section>
        <h2>Article section h2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, tenetur, vero.</p>
    </section>
    <section>
        <h2>Article section h2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </section>
    </article>
{% endblock %}